.filter-car {
  width: 1047px;
  height: 106px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  margin-top: -3em;
  z-index: 10;
}

.col p {
  margin-top: 24px;
  margin-bottom: 4px;
  font-size: 12px;
}

.form-control, .form-select {
  width: 210.75px !important;
  height: 38px;
  font-size: 12px;
}

#search-filter {
  background-color: #5CB85F;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 2px;
}

.col button {
  margin-top: 46px;
}

.col-margin {
  margin-left: 12px;
}

.col {
  padding: 0 8px 0;
}

/* cars card */
#cars-container {
  width: 1047px;
  margin: 0 auto;
}

.card-container {
  width: 333px !important;
  height: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.card-container button {
  align-self: center;
}

.car-card-image {
  width: 270px;
  margin: 24px 0 16px 24px;
}

.font-card {
  font-size: 14px;
}

.font-card img {
  margin-right: 8px;
}

.font-price {
  font-size: 16px;
  font-weight: bold;
}

.pilih-btn {
  width: 285px;
  height: 48px;
  background-color: #5CB85F;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px;
  padding: 8px 12px;
  border-radius: 2px;
}

/* media queries */

@media only screen and (max-width: 767px) {
  .filter-car {
    width: auto;
    height: 360px;
  }

  .col-margin {
    margin-right: 12px;
  }

  .col-margin-responsive {
    margin-left: 12px;
    margin-right: 12px;
  }

  #cars-container {
    width: auto;
    margin: auto;
  }

  .card-container {
    margin-left: auto;
    margin-right: auto;
  }

  .font-card, .font-price {
    margin-left: 14px;
    margin-right: 14px;
  }
}